main {
width: 95%;
height: 550px;
background-image: url(../images/crossfire.jpg);
margin: auto;

background-repeat: no-repeat;
/* background-size: cover; */
}

.info-on-img {



background-color: rgba(0, 0, 0, 0.7);
height: 700px;



}
.a1 {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: x-large;
    border: 1px solid #000;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        margin-left:50px ;
        width: 166px;
        background-image: url(../images/blue.jpg);
        text-align: center;
        color: #fff;
        float: left;
    margin-top: 30px;
}

.p {
color: white;
position: relative;
top: 84px;
right: 159px;
text-decoration: none;
font-family: 'Nunito', sans-serif;
font-size: 14px;
}

.a2 {

    font-family: 'Nunito', sans-serif;
text-decoration: none;
font-size: x-large;
border: 1px solid #000;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    margin-left:50px ;
    width: 166px;
    background-image: url(../images/blue.jpg);
    text-align: center;
    color: #fff;
    float: left;
margin-top: 30px;
}

h1 {
    padding-top: 140px;
padding-left: 185px;
    font-family: 'Nunito', sans-serif;
    color: white;


}

.s {

color: white;

}

footer {
padding-top: 45px;
width: 100%;
margin: auto;
height: 70px;
background-image: url(../images/blue.jpg);
text-align: center;
color: white;
float: left;
}

.image {
    background-color: rgb(228, 228, 228);

width: 40%;
height: 300px;
float: left;
background-repeat: no-repeat;
background-size: cover;
}

.info {
width: 60%;
height: 300px;
background-color: rgb(228, 228, 228);

float: left;
}

h2 {

padding-top: 50px;


}
    


.pa {
padding-top: 10px;
padding-left: 57%;
font-family: 'Nunito', sans-serif;
font: small;
padding-bottom: 10px;
}


.pt {


    padding-left: 55%;
    font-family: 'Nunito', sans-serif;
    font: small;
    padding-bottom: 10px;
    
}


.po {

    font-family: 'Nunito', sans-serif;
    font: small;
padding-left: 80%;

}





.sec2 {

width: 95%;
margin: auto;



}







.imgg {

width: 200px;
height: 200px;
border-radius: 200px;
margin-left: 40px;
margin-top: 50px;
border: 0.5rem solid rgba(0, 0, 0, 0.1);
}



.info-on-img .a1:hover {
    
    text-decoration:underline black ;

}


.info-on-img .a2:hover {

text-decoration:underline black ;


}

.clear {

clear: both;


}